package {{ package }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class {{ app_name | pascal }}Application {

    public static void main(String[] args) {
        SpringApplication.run({{ app_name | pascal }}Application.class, args);
    }
}
